html {
  box-sizing: border-box;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(236, 236, 236);
  height: 100%;
}

.flex-wrapper {
  flex: 1 0 auto;
}

a {
  display: block;
  text-decoration: none;
}
