main {
    padding-top: 50px;
    padding-bottom: 100px;
}

.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.form-container {
  background-color: rgb(219, 230, 233);
  padding: 2rem;
}

.details-wrapper {
  background-color: white;
  padding: 2rem 5% 2rem 5%;
}

.btn-primary {
  margin-top: 1rem;
  font-size: 1.125rem;
}